.icon {
  border-radius: 100px;
  width: 60px;
  height: 60px;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
}

.about-image {
  width: 20%;
  height: 20%;
}

.box-fill {
  align-self: center;
  width: 30px;
  min-height: 30px;
  border-radius: 100%;
  background-color: #416165;
}
