.about-image {
  width: 70%;
  height: 70%;
  margin: 20px;
}

.about-header {
  font-size: 3rem;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  text-align: center;
}

.about-container {
  margin: 25px;
  text-align: left;
}

.main-button {
  margin: auto;
  margin-bottom: 50px;
  font-size: 1.5em;
  background-color: #D9DBF1;
  border: none;
  border-radius: 40px;
  padding: 15px 30px;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  border: 1px solid transparent;
  text-decoration: none;
  text-align: center;
}

.main-button:hover,
.main-button:focus {
  background-color: #E2E3F1;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.main-button:hover {
  transform: translateY(-1px);
}

.main-button:active {
  text-decoration: none;
  color: inherit;
  background-color: #cacce0;
}

.main-button:visited {
  color: inherit;
}

@media screen and (min-width:481px) {

  .about-header {
    font-size: 4rem;
  }

}

@media screen and (min-width:769px) {

  .about-header {
    font-size: 5rem;
  }

}

@media screen and (min-width:1025px) {
  .about-image {
    width: 30%;
    height: 30%;
  }

  .container {
    flex-direction: row;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .about-container {
    max-width: 40vw;
  }

  .about-header {
    font-size: 6rem;
  }

}
