@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather'), url('../assets/fonts/Merriweather-Black.ttf');
}

body, input, textarea, button {
  color: #0B3948;
  background-color: #FAFAFA;
  font-family: 'Merriweather';
}
