.icon {
  border-radius: 100px;
  width: 60px;
  height: 60px;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
}

.box-fill {
  align-self: center;
  width: 30px;
  min-height: 30px;
  background-color: #416165;
}
